$lightColor: #00b4d8;
$myHeadingFont: sans;
$primaryColor: red;
$divHeight: 40px;
body {
  //   background-color: red;
  //   color: $lightColor;
}
.div {
  height: $divHeight;
  border: 1px solid $lightColor;
  padding: $divHeight;
  .h1 {
      $primaryColor: rgb(94, 255, 0) !global; 
    color: $primaryColor;
    background-color: $lightColor;
  }
  h3,
  h4 {
    color: $primaryColor;
  }
}
