@import "colors";
@import "reset";
$myHeadingFont: sans;
$divHeight: 40px;

@mixin custom-btn {
  color: $lightColor;
  background-color: $primaryColor;
  display: inline-block;
  padding: 8px 16px;
}

.div {
  height: $divHeight;
  border: 1px solid $lightColor;
  padding: $divHeight;
  .h1 {
    $primaryColor: rgb(94, 255, 0);
    color: $primaryColor;
    background-color: $lightColor;
  }
  h3,
  h4 {
    color: $primaryColor;
  }
}

header {
  main {
    h1 {
      color: $primaryColor;
      text-align: center;
    }
    nav {
      ul {
        display: flex;
        li {
          display: flex;
          justify-content: space-around;
          margin-left: 1rem;
        }
      }
    }
  }
}
// for navbar
div {
  nav {
    background-color: $primaryColor;
    ul {
      display: flex;
      justify-content: center;
      text-align: center;
      li {
        display: inline;
        margin: 10px;
        justify-content: center;
        padding: 24px;
        .Link {
          color: $lightColor;
          list-style: none;
          text-decoration: none;
        }
      }
    }
  }
}

// button login
header {
  main {
    text-align: center;
    button {
      @include custom-btn();
      outline: none;
      border: 0;
      
    }
  }
}
